:root {
  --background: rgba(8, 40, 83, 0.856);
  --foreground: #050a52;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0544;
    --foreground: rgba(13, 12, 78, 0.856);
  }
}

html {
  background-color: #c8dcf1da;
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  background-color: rgba(179, 207, 235, 0.856);
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1{
  color:#000000 ;
  font-weight: bold;
  text-align: center;
  font-style: italic;

}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}